.homePage {
  width: 100%;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  // overflow-x: hidden;
  .bottomBox {
    position: absolute;
    bottom: 0;
    left: 113px;
  }
}
