.header {
  width: 1440px;
  height: 86px;
  .headerText {
    height: 100%;
    font-size: 20px;
    // font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #ffffff;
    line-height: 86px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0px;
    cursor: pointer;
  }
  .headerText:hover {
    color: rgba(255, 143, 69, 1);
  }
  :first-child {
    margin-left: 73px;
  }
}
