@import '@/styles/color';
.headerBox {
  width: 1440px;
  height: 86px;
  padding-bottom: 1px;
  .headerText {
    height: 85px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    line-height: 86px;
    padding-left: 35px;
    padding-right: 35px;
    margin: 0px;
    cursor: pointer;
    animation: 0.3s eventCome ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
    margin-right: 10px;
    border-bottom: $bgColor solid 1px;
  }
  .headerText:hover {
    color: $btnColor;
    border-bottom: $btnColor solid 1px;
    transition: 0.3s ease-out;
  }
  .currentHeader {
    color: $btnColor;
    border-bottom: $btnColor solid 1px;
  }
  :first-child {
    margin-left: 73px;
  }
}
@keyframes eventCome {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
