.about {
  padding-left: 25px;
  .title {
    width: 80px;
    height: 28 px;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    line-height: 28px;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  .info {
    height: 27px;
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    line-height: 27px;
  }
  .adviceBtn {
    margin-top: 30px;
  }
}
