@import '@/styles/color';
.wikiFigures {
  width: 100%;
  height: 100%;
  padding-left: 25px;
  background-color: rgba(239, 243, 246, 1);
  .title {
    width: 80px;
    height: 28 px;
    font-size: 20px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 600;
    color: $btnColor;
    line-height: 28px;
    margin-top: 25px;
  }
  .figureList {
    flex-wrap: wrap;
  }
}
