@import '@/styles/color';
.wikiFigures {
  width: 100%;
  min-height: 100%;
  padding-left: 25px;
  padding-bottom: 25px;
  background-color: rgba(239, 243, 246, 1);
  min-width: 1000px;

  .title {
    width: 80px;
    height: 28 px;
    font-size: 20px;
    font-weight: 600;
    color: $btnColor;
    line-height: 28px;
    margin-top: 25px;
  }
  .figureList {
    flex-wrap: wrap;
    // justify-content: space-between;
    .listItem {
      width: 14%;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .pageBox {
    width: 100%;
    margin-top: 30px;
  }
}
