.mWiki {
  width: 100%;
  .searchLine {
    animation: 0.5s lineShow ease-out;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  .scrollBox {
    .dataBox {
      width: 100%;
      height: 100%;
      overflow: auto;
      flex-wrap: wrap;
      justify-content: space-around;
    //   padding-bottom: 7rem;
    }
  }
}
@keyframes lineShow {
  0% {
    opacity: 0;
    transform: translateY(-0.3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
