.mWiki {
  width: 100%;
  .searchLine {
    animation: 0.5s lineShow ease-out;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  .scrollBox {
    overflow: auto;

    height: 100vh;
    .dataBox {
      height: 100%;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}
@keyframes lineShow {
  0% {
    opacity: 0;
    transform: translateY(-0.3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
