.home {
  width: 100%;
  height: 100%;
  .header {
    width: 100%;
    height: 86px;
  }
  .router {
    position: absolute;
    top: 86px;
    bottom: 0px;
    left: 0px;
  }
  // .mainPage {
  //   width: 100%;
  //   height: 300px;
  // }
}
